// =============================================
// COLORS
// =============================================
$color-white: #FFFFFF;
$color-black: #000000;

$color-primary: rgb(26,30,32);
$color-primary--80: rgb(87, 96, 99);
$color-primary--10: #F5F5F5;
$color-secondary: #23D49C;
$color-secondary--active: darken($color-secondary, 20%);

$color-primary--dark: yellow;

$color-secondary--line: #CCCCCC;


// =============================================
// MEDIA QUERIES
// =============================================

// Common Device sizes:
// iPhone 5: 320px
// iPhone 7: 375px
// iPhone 7 Plus: 414px
// iPad hoch: 768px
// iPad quer: 1024px
// HD: 1280px

// Usage: @include size(xs-only) {}
// Available paramters:
// xs-only, sm-only, md-only, lg-only, xl-only
// sm-up, md-up, lg-up
// sm-down, md-down, lg-down

$grid-xs: 100%;
$grid-sm: 580px;
$grid-md: 768px;
$grid-lg: 1024px;
$grid-xl: 1140px;


// =============================================
// FONT-FAMILIES
// =============================================

// Include @font-face here if necessary.
// Use only one font-name and set appropriate font-weights!
//
// Set the different fonts below and use them as mixin.
// Name, fallback and weights must be set.
// @include font(primary, light);
// @include font(secondary, bold);
// Optional: Include the font style as the last parameter
// @include font(primary, light, italic);

@font-face {
    font-family: 'Martel';
    font-weight: 400;
    font-style: normal;
    src: url('~/assets/fonts/martel-regular-webfont.woff2') format('woff2'),
    url('~/assets/fonts/martel-regular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Martel';
    font-weight: 300;
    font-style: normal;
    src: url('~/assets/fonts/martel-regular-webfont.woff2') format('woff2'),
    url('~/assets/fonts/martel-regular-webfont.woff') format('woff');
}

$fonts: (
    primary: (
        name: 'Martel',
        fallback: (Times, serif),
        weights: (
            light: 300,
            normal: 400
        )
    ),
    secondary: (
        name: 'Roboto',
        fallback: (Helvetica, sans-serif),
        weights: (
            light: 300,
            regular: 400,
            bold: 700,
            black: 900,
        ),
        letterSpacing: 0.05ch,
    ),
);


// =============================================
// FONT-SIZES
// =============================================

// Usage: @include font-size(fs-100);
// The purpose of the key-numbers is to have them ordered relative to their font-size.
// The key-numbers are not related in any other way to the font-size or line-height.
// Use fs-100 as basic font-size.

$font-sizes: (
    fs-80: (
        font-size: 14px,
        font-size-lg: 16px,
        line-height: 160%
    ),
    fs-nav: (
        font-size: 12px,
        font-size-md: 18px,
        font-size-xl: 20px,
        line-height: 160%
    ),
    fs-100: (
        font-size: 16px,
        font-size-md: 18px,
        font-size-xl: 20px,
        line-height: 160%
    ),
    fs-140: (
        font-size: 20px,
        font-size-md: 22px,
        font-size-xl: 24px,
        line-height: 160%
    ),
    fs-160: (
        font-size: 20px,
        font-size-md: 24px,
        font-size-xl: 26px,
        line-height: 100%
    ),
    fs-180: (
        font-size: 22px,
        font-size-md: 30px,
        font-size-xl: 34px,
        line-height: 120%
    ),
    fs-section-title-main: (
        font-size: 32px,
        font-size-sm: 40px,
        font-size-md: 50px,
        font-size-lg: 70px,
        line-height: 120%,
    ),
);


// =========================================================
// SPACING
// =========================================================

$sp1: 1px;
$sp2: 2px;
$sp3: 4px;
$sp4: 8px;
$sp5: 16px;
$sp6: 24px;
$sp7: 32px;
$sp8: 40px;
$sp9: 48px;
$sp10: 56px;
$sp11: 64px;
$sp12: 96px;
$sp12: 124px;
$sp13: 188px;

$grid: 1280px;
$gutter: $sp5;

// =========================================================
// Z-INDEXES
// =========================================================

// USE z-index mixins
// @include z-index('header');

$zindex-positions: (
    foo: 2,
    bar: 3
);


// =============================================
// TRANSITIONS
// =============================================

$trans-time: 450ms cubic-bezier(.33, .7, .32, 1) 0ms;
$trans-time-fast: 250ms cubic-bezier(.33, .7, .32, 1) 0ms;


// =============================================
// OTHERS
// =============================================
