// =========================================================
// LAYOUT CLASSES -> CAN BE USED GLOBALLY
// =========================================================

.l-row  {
    max-width: $grid;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;

    > :not([class*="l-col"]) {
        width: 100%;
    }

    &--center {
        justify-content: center;
    }
}

.l-col {
    @for $i from 1 through 12 {
        &--#{$i} {
            width: calc((100% / 12 * #{$i}) - (#{$gutter} / 12 * (12 - #{$i})));

            .l-row--no-gutter & {
                flex-grow: 1;
                width: 100 / 12 * $i * 1%;
            }
        }
    }
}

.l-col--12\@md {
    width: calc((100%) - (#{$gutter} / 12));
}

.l-push {
    @for $i from 1 through 12 {
        &--#{$i} {
            margin-left: calc((100% / 12 * #{$i}) - (#{$gutter} / 12 * (12 - #{$i})));
        }
    }
}

.l-content-w {
    margin-top: $sp13;
    margin-bottom: $sp13;
    padding-left: $sp6;
    padding-right: $sp6;

    @include size(md-down) {
        margin-top: $sp11;
        margin-bottom: $sp11;
    }
}

.l-content-w-narrow {
    margin-left: auto;
    margin-right: auto;
    padding-right: $gutter;
    padding-left: $gutter;
    @include size(xl-only) {
        max-width: 65%
    }

}
