.c-button {
    @include font(secondary, bold, null, fs-160);
    display: inline-block;
    min-width: 230px;
    //border: 2px solid currentColor;
    border-radius: 30px;
    color: $color-white;
    background-color: $color-secondary;
    padding-top: $sp5;
    padding-left: $sp6;
    padding-bottom: $sp5 + 1px;
    padding-right: $sp6;
    margin-bottom: $sp5;
    vertical-align: bottom;
    line-height: 80%;

    &--small {
        padding-top: $sp4;
        padding-bottom: $sp4 + 2px;
        @include font-size(fs-100);
        min-width: 180px;
    }

    &:hover,
    &:focus {
        background-color: $color-secondary--active;
    }
}
