.c-gallery {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: $sp11;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.c-gallery__img {
    flex-grow: 1;
    height: 200px;
    max-width: 350px;
    object-fit: cover;

    @include size(md-down) {
        flex-grow: 0;
        width: 50%;
        height: 150px;
    }
}


.prev-v-img,
.next-v-img {
    width: 55px !important;
    height: 55px !important;
}

.prev-v-img svg,
.next-v-img svg {
    margin: 15px auto !important;
}